{
    "presets": [
        ["es2015", { "modules": false }],
        "stage-0",
        "react"
    ],
    "plugins": [
      "react-hot-loader/babel"
    ],
    "env": {
        "test": {
            "presets": ["es2015", "stage-0","react"],
            "plugins": [
                [ "babel-plugin-webpack-alias", { "config": "./conf/webpack.config.js" } ]
            ]
        }
    }
}
