{
    "presets": [
        ["env", { "modules": false }],
        "react",
        "stage-0"
    ],
    "plugins": [
      "react-hot-loader/babel",
      "lodash"
    ],
    "env": {
        "test": {
            "presets": ["env","react", "stage-0"],
            "plugins": [
                [ "babel-plugin-webpack-alias", { "config": "./conf/webpack.config.js" } ]
            ]
        }
    }
}
