{
    "presets": [
        ["@babel/preset-env", { "modules": false,"targets": { "node": "current"} }],
        ["@babel/preset-react",{ "targets": { "node": "current"}}]
    ],
    "plugins": [
      "react-hot-loader/babel",
      "lodash"
    ],
    "env": {
        "test": {
            "presets": ["@babel/preset-env","@babel/preset-react"],
            "plugins": [
                [ "babel-plugin-webpack-alias", { "config": "./conf/webpack.config.js" } ]
            ]
        }
    }
}
