{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "comma-dangle": 0,
    "indent": [2,4],
    "quotes": [2, "double", "avoid-escape"],
    "semi": [2, "always"],
    "camelcase": [0],
    "no-console": [0],
    "object-curly-spacing": [0],
    "react/jsx-indent-props": [2,4]
  }
}
