// see http://eslint.org/docs/rules/
{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true,
    "jest": true,
    "it": true,
    "describe": true,
    "expect": true,
    "beforeEach": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    // Strict mode
    "strict": [2, "never"],
    // Code style
    "no-underscore-dangle": [0],
    "indent": [4, 4],
    "camelcase": [0],
    "new-cap": [0],
    "no-trailing-spaces": [0]
  }
}
