.account-left-panel {
 .account-buttons-row button {
   min-width: 4.5rem;
 }
}

.account-info {
  text-align: center;
}

.account-left-menu {
  margin-left: 1.1rem !important;
  > li {
    > a {
      padding-left: 1.75rem !important;
      border-left: 1px solid transparent;
      &.active {
        border-left: 1px solid #f00;
      }
    }
  }
}
