.account-left-panel {
  .account-buttons-row .button {
    min-width: 4.5rem;
  }
}

.account-info {
  text-align: center;
}

.account-left-menu {
  margin-left: 1.1rem !important;
  > li {
    > a {
      padding-left: 1.75rem !important;
      border-left: 2px solid transparent;
      &.active {
        border-left-color: #f00;
      }
    }
  }
}

table > tbody > tr.control-row > td {
  padding-top: 1rem;
  border-bottom: none;
  vertical-align: middle;
  input {
    padding-top: 0;
    padding-bottom: 0;
  }
  > label {
    margin: 0;
  }
}
