@import "./fonts";
@import "./foundation_settings";
@import "../../../node_modules/react-foundation-apps/node_modules/foundation-apps/scss/foundation.scss";
@import "./foundation_overrides";
@import "../../../node_modules/react-tooltip/dist/react-tooltip.scss";
@import "./forms";
@import "./page_layout";
@import "./header";
@import "./footer";
@import "./transfer";

.error {
  color: #ff0000;
  padding: 16px;
}

.reactTooltip {
  z-index: 10000;
}

.no-overflow {
  overflow: hidden;
}
