@import "./fonts";
@import "./foundation_settings";
@import "../../../node_modules/react-foundation-apps/node_modules/foundation-apps/scss/foundation.scss";
@import "./foundation_overrides";
@import "../../../node_modules/react-tooltip/dist/react-tooltip.scss";
@import "./forms";
@import "./page_layout";
@import "./header";
@import "./footer";
@import "./transfer";

.error {
  color: #ff0000;
  padding: 16px;
}

.reactTooltip {
  z-index: 10000;
}

.no-overflow {
  overflow: hidden;
}

.account-card {
    max-width: 30rem;
}

.card:hover {
    border: 1px solid #4D2828;
}

.card div:first-child {
    padding: 5px;
    text-align: center;
}

.card:hover a>div:first-child {
    background-color: rgb(202, 202, 202);
}
