@import "./fonts";
@import "./foundation_settings";
@import "../../../node_modules/react-foundation-apps/node_modules/foundation-apps/scss/foundation.scss";
@import "./foundation_overrides";
@import "../../../node_modules/react-tooltip/dist/react-tooltip.scss";
@import "./forms";
@import "./page_layout";
@import "./header";
@import "./footer";
@import "./transfer";
@import "./tables";
@import "./cards";
@import "./account";
@import "./dark-theme";
@import "./perfect-scrollbar";

a {
  transition: all 0.3s ease 0s;
}

.error {
  color: #ff0000;
  padding: 16px;
}

.reactTooltip {
  z-index: 10000;
}

.no-overflow {
  overflow: hidden;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-content {
  text-align: center;
  > * {
    margin-left: auto;
    margin-right: auto;
  }
}

label, label > span {
  font-family: 'RobotoCondensed-Regular', arial, sans-serif;
  text-transform: uppercase;
}

.json-inspector__key {
  font-family: "Lucida Console", Monaco, monospace !important;
  text-transform: none;
}

.json-inspector__value {
  font-family: "Lucida Console", Monaco, monospace !important;
  text-transform: none;
}

.block-button {
  display: block;
}

button, .button {
  font-family: 'RobotoCondensed-Regular', arial, sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease 0s !important;
  &.outline {
    &:hover, &:focus, &:active {
      background: none !important;
    }
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: none;
    border: 1px solid #555;
    //border-radius: 4px;
  }
}

.notification, .notification.success {
  border-radius: 0;
}


.content-block {
  margin-bottom: 2rem;
  > h3 {
    font-family: 'Roboto-Light', arial, sans-serif;
    font-size: 2rem;
    border-bottom: 1px solid #444;
    margin-top: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .actions {
    padding: 1rem 0 1rem 0;
  }
}
