@import "./fonts";
@import "./foundation_settings";
@import "../../../node_modules/react-foundation-apps/node_modules/foundation-apps/scss/foundation.scss";
@import "./foundation_overrides";
@import "../../../node_modules/react-tooltip/dist/react-tooltip.scss";
@import "./forms";
@import "./page_layout";
@import "./header";
@import "./footer";
@import "./transfer";
@import "./tables";
@import "./cards";
@import "./account";
@import "./dark-theme";

.error {
  color: #ff0000;
  padding: 16px;
}

.reactTooltip {
  z-index: 10000;
}

.no-overflow {
  overflow: hidden;
}

.no-padding {
  padding: 0 !important;
}

label, label > span {
  font-family: 'RobotoCondensed-Regular', arial, sans-serif;
  text-transform: uppercase;
}

.json-inspector__key {
  font-family: "Lucida Console", Monaco, monospace !important;
  text-transform: none;
}

.json-inspector__value {
  font-family: "Lucida Console", Monaco, monospace !important;
  text-transform: none;
}

button {
  font-family: 'RobotoCondensed-Regular', arial, sans-serif;
  text-transform: uppercase;
}
