.card {
  border-radius: 0;
  border: none;
  > h4 {
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  > .card-content {
    margin: 1rem;
  }
}

.card-section .text-group {
 text-align: left;
}

.account-card {
  padding: 0 1rem 0 0 !important;
  .balances {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 78px;
  }
  cursor: pointer;
}

.card:hover {
  border: none;
}

.card a>div:first-child {
  text-align: center;
  padding: 5px;
}
