@import "./utils";

// variables

$light-text-color: #fff;
$dark-text-color: #444;
$primary-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: #aeabff;

$bg-color: #17252E;
$panel-bg-color: #3f3f3f;
$light-panel-bg-color: #6a6a6a;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #8C88FF;
$secondary-button-bg-color: #999999;
$sidebar-bg-color: #27343D;

$primary-color: #2A2A34;
$secondary-color: #f1f1f1;
$alert-color: #E3745B;
$info-color: #A0D3E8;
$success-color: #50D2C2;
$warning-color: #FCAB53;
$dark-color: #232323;
$gray: #dfdfdf;



// general

body {
  @include color($primary-text-color, $bg-color);
  font-size: 14px;
}

a {
  color: $link-text-color;
  &:hover, &:focus, &:active {
    color: lighten($link-text-color, 4%);
  }
}

label, label > span {
  color: $secondary-text-color;
  text-shadow: -1px 1px 2px rgba(0,0,0,0.5);
  border-radius: 2px;
}


.label, .label.warning, .label.alert, .label.success, .label.info, .label.warning, .label.cancel {
  text-shadow: -1px 1px 2px rgba(0,0,0,0.5);
  color: #FFF;
  border-radius: 0px;
}

.label.success {
  background: $success-color;
}

.label.info {
  background: $info-color;
}

.label.warning {
  background: $warning-color;
}

.label.cancel, .label.alert {
  background: $alert-color;
}



.action-sheet {
  @include color($light-text-color, $super-light-panel-bg-color);
  &::after {
    border-bottom-color: $super-light-panel-bg-color;
  }
  > ul > li > a {
    color: $light-text-color;
    border-top-color: $panel-bg-color;
    &:hover {
      @include color($light-text-color, lighten($super-light-panel-bg-color, 4%));
    }
  }
}

.reactTooltip.type-dark {
  @include color($light-text-color, $super-light-panel-bg-color);
  &.place-bottom:after {
    border-bottom-color: $super-light-panel-bg-color;
  }
}

.json-inspector__key {
  color: $secondary-text-color !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-text-color;
}

.modal {
  @include color($light-text-color, $light-panel-bg-color);
}

.footer {
  @include color($secondary-text-color, $panel-bg-color);
}


.tabs {
@include color($secondary-text-color, $bg-color);
}


.page-layout {
  background-color: $bg-color;

  .left-column {
    background-color: $sidebar-bg-color;
  }

  .main-content {
    background-color: $bg-color;
  }

  .right-column {
    background-color: $sidebar-bg-color;
  }

}

.transfer-top {
  background-color: $light-panel-bg-color;
  label, label > span {
    color: $light-text-color;
  }
}

// buttons

.button {
  background-color: $button-bg-color;
  text-shadow: -1px 1px 2px rgba(0,0,0,0.5);
  &:hover, &:focus, &:active {
    background-color: lighten($button-bg-color, 4%) !important;
  }
}

.button.secondary {
  @include color($dark-text-color, $secondary-button-bg-color);
  &:hover, &:focus, &:active {
    @include color(lighten($dark-text-color, 4%), lighten($secondary-button-bg-color, 4%), true);
  }
}

.header .button {
  background-color: $panel-bg-color;
}

.grp-menu-item button {
  &:hover, &:focus, &:active {
    background-color: #4c4c4c !important;
  }
}

// cards

.card {
  @include color($primary-text-color, $panel-bg-color);
  background-color: $panel-bg-color;
  &:hover {
    background-color: lighten($panel-bg-color, 4%);
  }
  a {
    color: $primary-text-color;
  }
  .card-divider {
    @include color($primary-text-color, $light-panel-bg-color);
  }
}





// tables
.table {
  > thead > tr > th {
    border-bottom: 2px solid $dark-text-color;
    color: $secondary-text-color;
  }
  > tbody > tr > td {
    border-bottom: 1px solid $dark-text-color;
  }
  &.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: lighten($bg-color, 4%);
  }
}


// Tabs


  .order-form {
    margin-top: 42px;
  }





// block-list

.block-list {
  color: $primary-text-color;
  li {
    border-bottom: 1px solid $dark-text-color;
  }
  li > a:hover, li > label:hover, li select:hover {
    background-color: lighten($bg-color, 4%);
  }
  li:first-child {
    border-top: 1px solid $dark-text-color;
  }
  header {
    color: $secondary-text-color;
  }
}


// Exchange


.depthchart {
  background-color: $bg-color;
  &:hover {
  background-color: $bg-color;
  }
  &.area {
    color: #FFF;
  }
}

.openorders .table {
  width: 100%;
}

.buysell {
  vertical-align: top;
}


td.orderHistoryAsk {
 color: $alert-color;
 font-weight: bold;
}



td.orderHistoryBid {
  color: $success-color;
  font-weight: bold;
}



