@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff') format('woff');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face(Roboto-Light, './Roboto-Light', 300, normal);
@mixin Roboto-Light {
  font-family: 'Roboto-Light', arial, sans-serif;;
  font-weight: lighter; font-style: normal; }

@include font-face(Roboto-Regular, './Roboto-Regular', normal, normal);
@mixin Roboto-Regular {
  font-family: 'Roboto-Regular', arial, sans-serif;
  font-weight: normal; font-style: normal; }

@include font-face(RobotoCondensed-Regular, './RobotoCondensed-Regular', normal, normal);
@mixin RobotoCondensed-Regular {
  font-family: 'RobotoCondensed-Regular', arial, sans-serif;;
  font-weight: normal; font-style: normal; }
