.footer {
  background-color: #777;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  color: #fff;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  a {
    color: #fff;
    text-decoration: underline;
  }
}
