.footer {
  background-color: #777;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  color: #fff;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  a {
    text-decoration: underline;
  }

  .logo {
    //padding-left: 1.75rem;
    //padding-right: 1.75rem;
    font-family: 'RobotoCondensed-Regular', arial, sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    vertical-align: middle;
    > span, svg {
      vertical-align: middle;
    }
    .version {
      font-size: 80%;
    }
  }
}
