.footer {
  background-color: #777;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  color: #fff;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  a {
    text-decoration: underline;
  }

  .logo {
    font-size: 1.1rem;
    line-height: 2rem;
    .version {
      font-size: 75%;
      vertical-align: baseline;
      font-variant: small-caps;
    }
  }
}
