.form-label.select {
  padding: 0;
  border: none;

  select {
    margin: 0;
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.9rem;
  }

}

.has-error input, .has-error select, .has-error textarea {
  border-color: #a94442;
}

.autocomplete > .action-sheet-container {
  display: flex;
  > .action-sheet {
    left: 6em;
  }
}

td > input, td > .autocomplete input {
  margin: 0 !important;
}

.form-group {
  margin-bottom: 2rem;
}

.account-select {
  width: auto;
}

.account-selector {
  > .account-image {
    float: left;
    width: 80px;
  }
  > .content-area {
    //width: 100%;
    margin-left: 80px;
    padding-left: 1rem;
  }
  .error-area {
    padding-top: 0.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
  .right-label {
    float: right;
  }
}
