.form-label.select {
  padding: 0;
  border: none;

  select {
    margin: 0;
    border: none;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.9rem;
  }

}

.has-error input, .has-error select, .has-error textarea {
  border-color: #a94442;
}

.autocomplete > .action-sheet-container {
  display: flex;
  > .action-sheet {
    left: 6em;
  }
}

td > input, td > .autocomplete input {
  margin: 0 !important;
}

.form-group {
  margin-bottom: 2rem;
}
