.grid-block {
  overflow: visible;
}

.title-bar.primary {
  padding: 0;

  .title {
    font-size: 1.0625rem;
  }
}

.button {
  margin-bottom: 0;
}

.title-bar.primary .action-sheet a {
  color: $body-font-color;
}

.action-sheet {
  width: auto;
  min-width: 12em;

  .no-first-element-top-border > :first-child > a {
    border-top: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.has-error,
div.has-error > label,
div.has-error > input,
div.has-error > input:hover,
div.has-error > input:focus {
  border-color: #a94442;
  color: #a94442;
}

.menu-bar.primary > li > a.active {
  background: #414141;
  color: #fff;
}

.menu-bar.secondary > li > a.active {
  background: #ededed;
  color: #000;
}

.inline {
  display: inline-block;
}

a {
  cursor: pointer;
  color: #008CBA;
}


.tabs {
  border-bottom: 1px solid #444;
  margin-bottom: 1rem;
  > .tab-item {
    background: none;
    font-family: 'RobotoCondensed-Regular', arial, sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    border-bottom: 2px solid transparent;
    &.is-active {
      background: none;
      border-bottom: 2px solid #f00;
      &:hover, &:focus, &:active {
        background: none;
      }
    }
    &:hover, &:focus, &:active {
      background: none;
    }
  }
}
