.page-layout {

  > .grid-block {
    padding: 1rem 1.75rem 1rem 1.75rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  .grid-content {
    padding: 0;
  }

  .left-column {
    background-color: #fafafa;
  }

  .main-content {
    background-color: #f3f3f3;
  }

  .right-column {
    background-color: #eaeaea;
  }

  .regular-padding {
    padding: 1rem 1.75rem 1rem 1.75rem;
  }

}

#mobile-menu {
	margin-top: 49px;
}

#account-notify {
    position: absolute;
    right: 0.5em;
    width: 30em;
}

.market-layout {
  .grid-block {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

/*  .left-column-2 {
    min-width: 15rem;
  }

  .right-column {
    min-width: 15rem;
  }*/
}

.market-content {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

[class*="block-grid-"] > li {

    

    height: auto;

    padding: 0 0.625em 1.25em;
}