.pagination {
    display: inline-block;
    padding: 1rem;
    margin: 20px 0;

}


.pagination > li {
    padding: 1rem;
    display: inline;
    border: 0px solid #ddd;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:first-child {
      margin-left: 0.2rem;
      cursor: pointer;
    }
    &:nth-child(2) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0.2rem;
      margin-left: 0;
      padding-left: 0;
      cursor: pointer;
    }
    > input {
        display: inline;
        width: 4rem;
        margin: 0 0rem 0 0rem;
        border: none;
    }
}
