.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    cursor: pointer;
}

.pagination > li {
    display: inline;
    border: 1px solid #ddd;
    padding: 1rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    > input {
        display: inline;
        width: 5rem;
    }
}
