.table > thead > tr > th {
  border-bottom: 2px solid #ddd;
  padding: 12px 0px;
  padding-right: 8px;
  text-transform: uppercase;
  font-family: 'RobotoCondensed-Regular', arial, sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  color: #777;
  text-align: left;
}

.table > tbody > tr > td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
