.transfer-top {
  background-color: #eaeaea;
}

.transfer-bottom {
  background-color: #f3f3f3;
  .account-info {
    text-align: left;
  }
}

.invoice {
  .item-name {
    padding: 0.2rem 0 0.2rem 0;
  }
  .item-description {
    padding: 0.2rem 0 0.2rem 0;
    font-size: 90%;
  }
}
