.modal {
  padding: 0;
}

.modal-header {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.modal-content {
  padding: 1rem;
}

.modal-footer {
  text-align: right;
}

.text-group {
  width: 100%;
  display: table;
  padding:0.5em;
  div {
  display: table-cell;
  vertical-align: middle;
  }
  div:nth-child(1) {
    min-width: 3rem;
  }
  div:nth-child(2) {
    text-align: right;
    padding-left: 0.5rem;
  }
}

.text-group 

.left-menu {
  padding-bottom: 1em;
}

@include breakpoint(medium) {
  .left-menu {
    padding-top: 5em;
  }
}
