.market-layout {
  > .grid-block {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  }

/*  .left-column-2 {
    min-width: 15rem;
  }

  .right-column {
    min-width: 15rem;
  }*/
}

.market-content {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

[class*="block-grid-"] > li {

    height: auto;

    padding: 0 0.625em 1.25em;
}

td.orderHistoryBid {
  color: green;
}

td.orderHistoryAsk {
  color: red;
}

.order-table {
	width: 100%;
	> caption {
		padding-bottom: 1.25rem;
	}
    > thead > tr > th {
        font-size: 0.9rem;
    }

    > tbody > tr > td {
        font-size: 0.75rem;
        border: none;
    }
}

.my-orders {
  width: 48% !important;
  display: inline-table;
}

p.order-table-title {
	display: none;
}


.notification,
.notification.success,
.notification.info,
.notification.warning,
.notification.alert,
.notification.cancel {
	font-size: 0.75rem;
}

.backingWarning { color: yellow; }
.backingError { color: red; }

.buy-form {
  padding-top: 0.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.sell-form {
  padding-top: 0.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

#market-charts {
  > div > div.tabs {
    margin-bottom: 0.25rem;

    .tab-item {
      padding-top: 0.1rem;
    }
  }

}

.fixed-height {
  .orderbook {
    display:block;
    height:42vh;
    overflow:auto;
  }

  thead, tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;/* even columns width , fix width of table too*/
  }
}
