$bid-color: #50D2C2;
$ask-color: #E3745B;

.market-layout {
  > .grid-block {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  }

/*  .left-column-2 {
    min-width: 15rem;
  }

  .right-column {
    min-width: 15rem;
  }*/
}

.market-content {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

[class*="block-grid-"] > li {

    height: auto;

    padding: 0 0.625em 1.25em;
}

td.orderHistoryBid {
  > span.price-integer {
    font-weight: bold;
    color: $bid-color;
  }

  > span.price-decimal {
    color: #e0e0e0;
    font-size: 90%;
    opacity: 0.6;

  }
}

td.orderHistoryAsk {
  > span.price-integer {
    font-weight: bold;
    color: $ask-color;
  }

  > span.price-decimal {
    color: #e0e0e0;
    font-size: 90%;
    opacity: 0.6;
  }
}

.order-table {
	width: 100%;
	> caption {
		padding-bottom: 1.25rem;
	}
    > thead > tr > th {
        font-size: 0.9rem;
    }

    > tbody > tr > td {
        font-size: 0.75rem;
        border: none;
    }
}

.my-orders {
  width: 48% !important;
  display: inline-table;
}

p.order-table-title {
	display: none;
}


.notification,
.notification.success,
.notification.info,
.notification.warning,
.notification.alert,
.notification.cancel {
	font-size: 0.75rem;
}

.backingWarning { color: yellow; }
.backingError { color: red; }

.buy-form {
  padding-top: 0.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.sell-form {
  padding-top: 0.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.buySellButton {
  float: right;
}

.buy {
  background-color: $bid-color !important;
}

.sell {
  background-color: $ask-color !important;
}

#market-charts {
  > div > div.tabs {
    margin-bottom: 0.25rem;

    .tab-item {
      padding-top: 0.1rem;
    }
  }

}



.valign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}


.fixed-height {
  .orderbook-top {
    display: inline-block;
    max-height: 44vh;
    overflow-y: auto;
    border: 0px solid purple;
    bottom: 0;
    position: relative;
  }

  .orderbook-bottom {
    display: inline-block;
    max-height: 44vh;
    overflow-y: auto;
    border: 0px solid yellow;
    top: 0;
    position: relative;
  }


  thead, tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;/* even columns width , fix width of table too*/
  }
}

.bid-total {
  font-size: 90%;
  position: absolute;
  top: 40px;
  left: 25px;
  color: $bid-color;
}

.ask-total {
  font-size: 90%;
  position: absolute;
  top: 40px;
  right: 25px;
  color: $ask-color;
}

.chart-label {
  z-index: 5;
  position: absolute;
  right: 0;
  font-size: 15px;
  border: 1px black solid;
  vertical-align: middle;
}

.buy-sell-info {
  font-size: 90%;
  margin-bottom: 5px;
}



a.order-cancel {
  font-size: 80%;
  letter-spacing: 2px;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  margin: 0;
}
