$bid-color: #50D2C2;
$ask-color: #E3745B;
$call-color: #BBBF2B;
$light-panel-bg-color: #353742;
$positive-color: #6EC105;
$negative-color: #E1424A;

.market-layout {
  > .grid-block {
    // padding: 0.25rem 0.25rem 0.25rem 0.25rem !important;
  }

  >.left-column {
    border-right: 1px solid grey;
    border-top: none;
  }

  .right-column {
    border-left: 1px solid grey;

    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: none;
  }

  .main-content {
    .top-bar {
      border-bottom: 1px solid grey;
    }
  }
}

.market-content {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

[class*="block-grid-"] > li {

    height: auto;

    padding: 0 0.625em 1.25em;
}

.order-table {
	width: 100%;
    > thead > tr > th {
        font-size: 14px;
        padding: 5px 5px;
    }

    > tbody > tr > td {
        font-size: 12px;
        padding-bottom: 4px;
    }
}

.my-orders {
  width: 48% !important;
  display: inline-table;
}

p.order-table-title {
	display: none;
}


.notification,
.notification.success,
.notification.info,
.notification.warning,
.notification.alert,
.notification.cancel {
	font-size: 0.75rem;
}

.backingWarning { color: yellow; }
.backingError { color: red; }

.bid-form {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.ask-form {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.buySellButton {
  float: right;
  min-width: 4rem;
}

form.order-form {
  padding: 10px;
}



#market-charts {
  > div > div.tabs {
    margin-bottom: 0.25rem;

    .tab-item {
      padding-top: 0.1rem;
    }
  }

}

.left-order-book {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  table {
    width: 100%;
    th {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
  }
  > .table-container {
    flex-grow: 1;
    width: 100%;
    position: relative;
  }
  > .spread {
    flex-shrink: 1;
    width: 100%;
    padding: 0.25rem 0 0.25rem 0;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
  }
}

.final-row > td {
  border-bottom: none !important;
}

.orderbook-latest-price {
    cursor: help;
}


.left-orderbook-header {
  width: 100%;
  font-size: 0.75rem;
}

.top-header {
  padding-bottom: 0.25rem;
}
.bottom-header {
  padding-top: 0.25rem;
}

tr.top-header, tr.bottom-header, tr.spread-row {
  &:hover > td {
    background-color: inherit !important;
    cursor: pointer !important;
  }
}

.bid-total {
  color: $bid-color !important;
}

.ask-total {
  color: $ask-color !important;
}

.chart-label {
  z-index: 5;
  position: absolute;
  right: 0;
  font-size: 15px;
  border: 1px black solid;
  vertical-align: middle;
}

.buy-sell-info {
  font-size: 90%;
}



a.order-cancel {
  font-size: 90%;
  letter-spacing: 2px;
  padding-top: 0.01rem;
  padding-bottom: 0.01rem;
  margin: 0;
}

.stats {
  overflow: visible;
}

.market-stats {
  > li {
    display: inline-block;
    padding-right: 0.5rem;
  }
}

.market-stats .stat {
  text-align: left;
  font-size: 0.75rem;
  overflow: hidden;
}

.market-stats .stat .value {
  font-size: 0.75rem;
  color: #000;
  letter-spacing: normal;
}

.stats {
  line-height: 1rem !important;
  list-style: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.top-stats li {
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}

.bottom-stats li {
  border-right: 1px solid grey;
}

.stats .stat {
  text-align: center;
  padding: 3px 5px;
  vertical-align: top;
  min-height: 27px;

  > span {
    > span:first-of-type {
      padding-right: 5px;
      font-weight: bold;
    }
  }
}

.stats .indicators {
  padding: 2px 0;
  line-height: 1rem;
  text-transform: uppercase;
}

.stats .stat:first-child {
  border-left: none;
}
.stats .stat .value {
  color: #FFFFFF;
  // letter-spacing: 1px;
}
.stats .stat em {
  color: #888888;
  display: block;
}

.stats .stat .negative {
  color: $negative-color !important;
}

.stats .stat .positive {
  color: $positive-color !important;
}

.market-symbol {
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    padding-top: 15px;
}

.active-bucket {
  background-color: lighten($light-panel-bg-color, 12%) ;
  text-transform: uppercase;
}

div.bucket-option {
  cursor: pointer;
  text-transform: none !important;
  margin-right: 3px;
  border-radius: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

.bucket-option:hover {
  background-color: #4C4C4C;
}

.buy-sell-row {
  margin-bottom: 10px;
}

.bottom-row {
  border-top: #A09F9F 1px dotted;
  padding-top: 5px !important;
}

.buy-sell-label {
    font-size: 90%;
    line-height: 1.75rem;
    height: 1.75rem;
}

.buy-sell-input {
    height: 1.75rem;
    line-height: 1.75rem;
}

.buy-sell-input > input {
    margin: 0;
    padding: 0;
    height: 1.75rem;
    text-align: right;
    font-size: 90%;
    padding-right: 0.4rem;
}

.buy-sell-box {
    text-align: center;
    height: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;
    font-size: 75%;
    padding: 0 0 0 5px;
    min-width: 5rem;
    background-color: lighten($light-panel-bg-color, 12%);

    > select {
      padding: 0;
      margin: 0;
      height: 1.75rem;
      line-height: 1.75rem;
      background-color: lighten($light-panel-bg-color, 12%);
      background: lighten($light-panel-bg-color, 12%) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20black%22%3E%3C/polygon%3E%3C/svg%3E") right 10px center no-repeat;
      background-size: 8px 8px;
      border: none;
      color: white;
      font-size: 12px;
    }
}

.borrow-button {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.8rem
}

.borrow-button-container {
  padding-left: 0.25rem;

  > div:last-of-type {
    margin-bottom: 0.2rem;
  }
}

.order-change {
  transition: all 3s ease;
  background: #343434;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.borrow-price-label {
  display: inline-block;
  min-width: 40%;
}

.borrow-price-final {
  border-top: #A09F9F 1px dotted;
  padding-top: 5px !important;
}

.borrow-price-feeds {
  padding-bottom: 2px;
}

.middle-content {
  margin-bottom: 10px;
}

.market-right-padding-only {
  padding: 0 0.6rem 0 0 !important;
}

.mymarkets-header {
  text-transform: uppercase;
  width: 50%;
  font-size: 1rem;
  padding: 6px 10px;
  font-weight: 500;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  transition: border-color 0.3s ease 0s;
  overflow:hidden;
}

.exchange-content-header {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 6px 10px;
  overflow: hidden;
}

.mymarkets-base-select {
  margin: 0;
  padding: 0;
  height: inherit;
  font-size: inherit;
}

.mymarkets-list {
  padding: 0;
  font-size: 0.75rem;
  .table > thead tr th {
    font-size: 0.75rem;
  }

  .table > tbody tr td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

table thead tr th.mymarkets-header {
  padding-bottom: 9px !important;
}

.title-star {
  width: 1.25rem;
  height: 1.25rem;
  padding-right: 0.25rem;
}

.gold-star > svg > path {
  fill: #CC9F00;
}

.grey-star > svg > path {
  fill: #878787;
}

.no-data {
  position: relative;
  left: 45%;
  top: 200px;
  z-index: 999;
  text-transform: uppercase;
  font-size: 2rem;
}

.market-right-padding {
  padding-right: 15px !important;
}

.orderbook-showall {
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #444;
  font-size: 12px;
}

.newrow-enter.newrow-enter-active {
  animation: flash 1.25s;
  animation-timing-function: ease-out;
}

@keyframes flash {
  0%   { background-color: #6B6B6B;}
  100% { background-color: transparent;}
}

.mymarkets-tabs {
    width: 100%;
    list-style: none;
    margin: 0;
    margin-top: 5px;

    > li {
        padding: 3px;
        font-size: 12px;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }
}

.buysell-select {
    background: none !important;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    text-align: left;
}

form.hide-container {
    display: none;
}
