td.orderHistoryBid {
  color: green;
}

td.orderHistoryAsk {
  color: red;
}

.order-table {
	width: 50%;
	> caption {
		padding-bottom: 1.25rem;
	}
    > thead > tr > th {
        font-size: 0.9rem;
    }

    > tbody > tr > td {
        font-size: 0.75rem;
    }
}

.my-orders {
  width: 100%
}

p.order-table-title {
	display: none;
}


.notification,
.notification.success,
.notification.info,
.notification.warning,
.notification.alert,
.notification.cancel {
	font-size: 0.75rem;
}

.backingWarning { color: yellow; }
.backingError { color: red; }
