.active-witness {
    > td {
        background-color: rgba(80, 210, 194, 0.4);
        transition: background-color 0.6s ease;
    }
}

.clickable {
    cursor: pointer;
}

.view-switcher {
    padding-top: 1rem;
    text-align: right;
}
