.Box {
  margin: 10px;
  padding: 0;

  background-color: #333;

  border: 2px;
  border-color: #888;
  border-style: inset;
  /* border-radius: 12px; */
}

.BoxBody {
  color: #50D2C2; /* blue */

  margin: 0;
  padding: 10px;
}


.BoxHeader {
  text-align: center;
  background-color: #383838;
}
.BoxHeader h4 {
  color: #FCAB53; /* orange */
  font-weight: bold;
}
.BoxFooter {
  text-align: center;
  background-color: #383838;
}
.BoxFooter h4 {
  color: #FCAB53; /* orange */
  font-weight: bold;
}


.BoxBody .icon svg path {
  fill: #50D2C2; /* blue */
}


.accordion {
  border: none;
}
.accordion-title {
  text-align: center;
  /*font-family: 'Roboto-Light', arial, sans-serif;
  font-weight: bold;
  */
  color: #AEABFF; /* purple */
  font-size: 23px;
  background-color: #333;
}
.is-active > .accordion-title {
  color: #FCAB53; /* orange */
  background-color: #383838;
}
.accordion-title:hover {
  background-color: #383838;
}
