.Box {
  margin: 10px;
  padding: 0;
  background-color: #2C2E37;
}

.BoxBody {
  color: #FFF;
  margin: 0;
  padding: 10px;
}


.asset {
  margin: 30px 24px 24px 24px;

}

.asset-label {
  margin:2px;
}

.BoxHeader {
  text-align: left;
  background-color: #353742;
  padding: 3px 12px;
  font-size: 16px;
  font-weight: 400;
}




.BoxFooter {
  background-color: #383838;
}


.BoxBody .icon svg path {
  fill: #4A90E2; /* blue */
}

.accordion {
  border: none;
}
.accordion-title {
  text-align: left;
  /*font-family: 'Roboto-Light', arial, sans-serif;
  font-weight: bold;
  */
  color: #AEABFF; /* purple */
  font-size: 18px;

}
.is-active > .accordion-title {
  color: #FFF; /*  */
  background-color: #353742;
}
