.left-td {
    min-width: 7em;
    padding-right: 1em;
    text-align: left;
}

.right-td {
    text-align: left;
}

.proposal-update {
    padding-top: 5px;
    li {
        font-size: 0.9rem;
    }
}
