@import "theme-template";

// variables


$primary-text-color: darken(#3d3d3d, 10%);
$secondary-text-color: lighten($primary-text-color, 22%);
$light-text-color: #3d3d3d;
$dark-text-color: lighten($light-text-color, 12%);
$link-text-color: #aeabff;
$error-text-color: #E3745B;

$bg-color: #FFF;
$panel-bg-color: #e5e6e4;
$light-panel-bg-color: #FFF;
$super-light-panel-bg-color: darken($light-panel-bg-color, 1%);
$button-bg-color: #8c88ff;
$secondary-button-bg-color: #999999;

$alert-color: $error-text-color;
$info-color: #A0A4B8;
$success-color: #21D19F;
$warning-color: #f35b92;
$fee-color: #7f055e;

// Exchange colors
$bid-color: #258A14;
$ask-color: #E3745B;
$call-color: #BBBF2B;
$positive-color: #6EC105;
$negative-color: #E1424A;
$row-accent-color: #FFFFFF;
$header-color: #DCDCDC;

.lightTheme {
  @include theme(
    $primary-text-color,
    $bg-color,
    $dark-text-color,
    $link-text-color,
    $light-text-color,
    $secondary-text-color,
    $success-color,
    $info-color,
    $warning-color,
    $alert-color,
    $super-light-panel-bg-color,
    $panel-bg-color,
    $button-bg-color,
    $secondary-button-bg-color,
    $fee-color,
    $bid-color,
    $ask-color,
    $call-color,
    $light-panel-bg-color,
    $positive-color,
    $negative-color,
    $row-accent-color,
    $header-color
  );
  
  .blocktrades-bridge input, .blocktrades-bridge select{
    color: $secondary-text-color;
    background-color: $bg-color !important;
    border: 1px solid $secondary-text-color;
      &:hover, &:focus {
        color: $primary-text-color;
	      //box-shadow: 1px 2px 3px #000;
        border: 2px solid #000;
      }
  }

}

