@import "../utils/utils";

// variables

$light-text-color: #fff;
$dark-text-color: #444;
$primary-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$link-text-color: #4A90E2;
$error-text-color: #E3745B;

$bg-color: #191A1F;
$panel-bg-color: #2C2E37;
$light-panel-bg-color: #353742;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$button-bg-color: #4A90E2;
$secondary-button-bg-color: #546979;

$alert-color: $error-text-color;
$info-color: #4A90E2;
$success-color: #18BC9C;
$warning-color: #FCAB53;
$fee-color: $secondary-text-color;

// general

body {
  @include color($primary-text-color, $bg-color);
}

hr {
  border-color: $dark-text-color;
  background-color: $dark-text-color !important;
}

a {
  color: $link-text-color;
  &:hover, &:focus, &:active {
    color: lighten($link-text-color, 4%);
  }
}

label, label > span {
  color: $secondary-text-color;
}

.label.success {
  color: $success-color;
  border-color: $success-color;
}

.label.info {
  color: $info-color;
  border-color: $info-color;
}

.label.warning {
  color: $warning-color;
  border-color: $warning-color;
}

.label.cancel, .label.alert {
  color: $alert-color;
  border-color: $alert-color;
}

.txtlabel.success {
  color: $success-color;
}

.txtlabel.info {
  color: $info-color;
}

.txtlabel.warning {
  color: $warning-color;
}

.txtlabel.cancel, .label.alert {
  color: $alert-color;
}

// notification

.notification {
  @include color($primary-text-color, $super-light-panel-bg-color, true);
}

.notification-dismiss {
  @include color($primary-text-color, $super-light-panel-bg-color, true);
}

.notification-success {
  border-left-color: $success-color !important;
}

.action-sheet {
  @include color($light-text-color, $super-light-panel-bg-color);
  &::after {
    border-bottom-color: $super-light-panel-bg-color;
  }
  > ul > li > a {
    color: $light-text-color;
    border-top-color: $panel-bg-color;
    &:hover {
      @include color($light-text-color, lighten($super-light-panel-bg-color, 4%));
    }
  }
}

.__react_component_tooltip.type-light {
  @include color($light-text-color, $super-light-panel-bg-color, true);
  &.place-bottom:after {
    border-bottom-color: $super-light-panel-bg-color !important;
  }
  &.place-top:after {
    border-top-color: $super-light-panel-bg-color !important;
  }
  &.place-right:after {
    border-right-color: $super-light-panel-bg-color !important;
  }
  &.place-left:after {
    border-left-color: $super-light-panel-bg-color !important;
  }
}

.json-inspector__key {
  color: $secondary-text-color !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-text-color;
}

.modal {
  @include color($light-text-color, $bg-color);
  .close-button {
    color: $secondary-text-color;
    &:hover {
      color: $primary-text-color;
    }
  }
  .modal-header {
    > h6 {
      color: $secondary-text-color;
    }
    &.has-error > h6 {
      color: $error-text-color
    }
  }
  .circle-wrapper {
    .circle:before {
      background-color: $primary-text-color;
    }
  }
  .table {
    > thead > tr > th, > tbody > tr > td {
      border-bottom-color: darken($secondary-text-color, 10%);
    }
  }
}

.footer {
  @include color($secondary-text-color, lighten($panel-bg-color, 8%));
  svg > path {
    fill: $secondary-text-color;
  }
}

.panel-left {
  @include color($light-text-color, $light-panel-bg-color);
  .block-list li > a {
    color: $light-text-color;
    &:hover {
      background-color: darken($light-panel-bg-color, 4%);
    }
  }
}

.tabs {
@include color($secondary-text-color, $bg-color);
}


.page-layout {
  background-color: $bg-color;

  .left-column {
    border-top-color: $bg-color;
    border-bottom-color: $bg-color;
    background-color: $panel-bg-color; //lighten($bg-color, 4%);

  }

  .left-column-2 {
    border-top-color: $bg-color;
    border-bottom-color: $bg-color;
    background-color: darken($bg-color, 4%);
  }

  .main-content {
    background-color: $bg-color;
  }

  .right-column {
    border-top-color: $bg-color;
    border-bottom-color: $bg-color;
    background-color: darken($bg-color, 4%);
  }

}

.transfer-top {
  background-color: $light-panel-bg-color;
  label, label > span {
    color: $light-text-color;
  }
}

// buttons

.button.bucket-button {
  text-transform: none !important;
  font-size: 0.75rem !important;
}

.button {
  background-color: $button-bg-color;
  &:hover, &:focus, &:active {
    background-color: lighten($button-bg-color, 4%) !important;
  }
  &.outline {
    color: $secondary-text-color;
    border-color: $secondary-text-color;
    &:hover {
      color: $light-text-color;
      border-color: $light-text-color;
    }
  }
}

.button.secondary {
  @include color($dark-text-color, $secondary-button-bg-color);
  &:hover, &:focus, &:active {
    @include color(lighten($dark-text-color, 4%), lighten($secondary-button-bg-color, 4%), true);
  }
}

.header .button,  .header .button:active {
background-color: #3E414D !important;
&:hover, &:focus, &:active {
  background-color: #3E414D !important;
}
}



.grp-menu-item button {
  &:hover, &:focus, &:active {
    background-color: #3E414D !important;
  }
}

.header {
  @include color($secondary-text-color, $panel-bg-color);
}

.header .logo {
  color: $secondary-text-color;

}

.menu-group.primary .menu-bar {

}


.header-right-menu {
  a > span { color: $secondary-text-color; }
  svg > path { fill: $secondary-text-color; }
  a:hover > span { color: $primary-text-color; }
  svg:hover > path { fill: $primary-text-color; }
}

// cards


.card-section {
  padding-left: 0.5rem;
  > ul {
    color: #FFF;
    list-style: none;
    font-size: 85%;
    margin-left: 0;
  }
}


.card {
  @include color($primary-text-color, $bg-color);
  background-color: $panel-bg-color;
  &:hover {
    background-color: lighten($panel-bg-color, 4%);
    > h4 {
      background-color: lighten($light-panel-bg-color, 4%);
      color: $link-text-color
    }
  }
  a {
    color: $primary-text-color;
  }
  .card-divider {
    @include color($primary-text-color, lighten($bg-color, 12%) );
  }
  > h4 {
    background-color: lighten($bg-color, 24%);
  }
}


// tables
.table {
  > thead > tr > th {
    border-bottom-color: $dark-text-color;
    color: $secondary-text-color;
  }
  > tbody > tr > td {
    border-bottom-color: $dark-text-color;
  }
  &.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: lighten($bg-color, 4%);
  }
}

// block-list

.block-list {
  color: $primary-text-color;
  li {
    border-bottom: 1px solid $dark-text-color;
  }
  li > a {
    color: $secondary-text-color;
  }
  li > a:hover, li > label:hover, li select:hover, li.active > a {
    color: $light-text-color;
    background-color: lighten($bg-color, 4%);
  }
  li:first-child {
    border-top: 1px solid $dark-text-color;
  }
  header {
    color: $secondary-text-color;
  }
}


// forms

.has-error, div.has-error > label, div.has-error > label > span {
  color: $error-text-color;
}

div.has-error > input, div.has-error > input:hover, div.has-error > input:focus {
  border-color: $error-text-color;
}

.has-error input, .has-error select, .has-error textarea {
  border-color: $error-text-color;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], textarea, select {
  color: $primary-text-color;
  background-color: $panel-bg-color;
  border: none;
  &:hover, &:focus, &:active {
    color: $primary-text-color;
    background-color: darken($panel-bg-color, 2%);
    border: none;
  }
  &:focus {
    color: $primary-text-color;
    border: none;
  }
}


// Tabs

.tabs {
  border-bottom-color: $dark-text-color;
  > .tab-item {
    color: $secondary-text-color;
    &.is-active {
      color: $primary-text-color;
      border-bottom-color: $button-bg-color;
    }
    &:hover, &:focus, &:active {
      color: $primary-text-color;
    }
  }
}



// Exchange

.depthchart {
  background-color: $bg-color;
  &:hover {
  background-color: $bg-color;
  }
  &.area {
    color: #FFF;
  }
}

td.orderHistoryAsk {
 color: $alert-color;
 font-weight: bold;
}

td.orderHistoryBid {
  color: $success-color;
  font-weight: bold;
}

.buy-sell-box {
  background-color: lighten($light-panel-bg-color, 12%);
}

.active-bucket {
  text-transform: none !important;
  font-size: 0.75rem !important;
  background-color: lighten($light-panel-bg-color, 12%);
  text-transform: uppercase;
}


.market-top-bar {
  border-bottom: 1px solid $panel-bg-color;
}

// Account page
.account-left-panel {
  h5 {
    color: $primary-text-color;
  }
  h6 {
    color: $secondary-text-color;
  }
  .bottom {
    border-top-color: $bg-color;
  }
}

.my-account h5, .my-account h4, td.my-account {
  color: $info-color;
}

.account-left-menu {
  > li > a:hover, > li > label:hover, > li select:hover {
    color: $light-text-color;
    background-color: $panel-bg-color;
  }
  > li > a.active {
    color: $light-text-color;
    background-color: lighten($panel-bg-color, 4%);
    border-left-color: darken($button-bg-color, 4%);
  }
}


.pagination {
    background-color: $panel-bg-color;
}

.invoice {
  .item-description {
    color: $secondary-text-color;
  }
}

// Formatted assets
.facolor-success {
  color: $success-color;
}

.facolor-alert {
  color: $alert-color;
}

.facolor-warning {
  color: $warning-color;
}

.facolor-info {
  color: $info-color;
}

.facolor-error {
  color: $error-text-color;
}

.facolor-fee {
  color: $fee-color;
}

// AccountSelector component

.account-selector {
  .error-area {
    color: $error-text-color;
  }
  .right-label {
    color: $secondary-text-color;
  }
}

.icon.success {
  padding-right: 1rem;
  > svg > path {
    fill: $success-color;
  }
}

.circle-wrapper {
   .circle:before {
     background-color: $secondary-text-color;
   }
}

// Misc

.chart-zoom-dropdown {
  width:24px;
  height: 28px;
  padding: 4px;
  opacity: 0.5;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;

  &:hover, &:active, &:focus {
    background-color: $bg-color;
    padding: 4px;
    opacity: 0.85;
    border-radius: 2px;
    color: $light-text-color;
    font-size: 60%;
    width:348px;
    height: 48px;
  }
}




.remove {
  color: $alert-color;
  border: none;
  padding: 2px 4px;
  font-size: 120%;
  background-color: transparent;
  border-radius: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  &:hover, &:active, &:focus {
    color: $light-text-color;
    background-color: $alert-color;
    font-size: 120%;
    border-radius: 2px;
  }
}

.memo {
  color: $secondary-text-color;
}

.help-content {
  code {
    color: $primary-text-color;
    background-color: transparent;
    border-color: $dark-text-color;
  }
}

// Block List (section)
section input[type="text"] {
  background-color: transparent;
  &:hover, &:active, &:focus {
    color: $primary-text-color;
    background-color: transparent;
  }
}


// Asset Detail

.asset-card {
  .card-divider {
    background: $panel-bg-color;
  }
}

// Exchange
.mymarkets-header {
  border-bottom-color: $button-bg-color;
  &.inactive {
    border-bottom-color: transparent;
    color: $secondary-text-color;
  }
}
