.barter-footer {
    display: flex;
    align-items: center;
}

.barter-balance-warning {
    margin-left: 30px;
    color: #ff8d36;
}

@media (max-width: 600px) {
    .barter-footer {
        display: block;
        align-items: center;
    }

    .barter-balance-warning {
        margin-left: 0;
        margin-top: 30px;
    }
}
.barter-fee-selector {
    .amount-selector-field--label {
        text-align: left !important;
    }
    :after {
        content: none !important;
    }
}
