.header {
    .electron-navigation > ul {
        padding-left: .92rem;
        li {
            padding: 0 .92rem;
            font-size: 1.5rem;
            line-height: 3.84rem;
            vertical-align: middle;
            cursor: pointer;
        }
    }
    min-height: 3.84rem;

    div.account-drop-down div.total-value {
        text-align: left;
        font-size: 80%;
        line-height: .8rem;
    }
}

.lower-case {
    text-transform: lowercase;
}

div.account-drop-down div.dropdown-wrapper {
    padding: 0;

    .dropdown {
        left: 0;
        top: 3.84rem;
        overflow-y: auto;
    }

    span.caret {
        position: absolute;
        right: 1rem;
        top: 1.4rem;
    }

    > li {
        list-style: none;
        min-width: 200px;

        &.account-header-link {
          display: flex;
          > div.grid-block {
              padding: .92rem 0;
          }
          > .account-name-wrapper {
              line-height: 1.2rem;
          }
        }
    }
    .account-item {
        vertical-align: middle;
        .account-image {
            display: inline;
            width: 1.6rem;
            height: 1.6rem;

            canvas {
                vertical-align: middle;
                margin: -.1rem .1rem -.45rem -.1rem;
            }
        }
    }
}
