.help-content {
	padding: 0!important;
}

.help-content > table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.help-content > table td, .help-content > table th {
    border: 1px solid;
    padding: 5px;
}

.help-content > table > thead th {
    text-align: left;
    padding: 5px;
    border: 1px solid;
}

.help-content p:last-of-type {
	margin-bottom: 0;
}