.period-row {
    margin-left: 10px;
}

.period-row:hover {
    cursor: pointer;
}

.period-row.is-active {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}

.preimage-row {
    margin-top: 10px !important;
    .button {
        height: 32px;
    }
    .icon {
        top: -5px;
    }
}
