.merchant-protocol {
    padding: 10px;
    max-width: 60rem;
    min-width: 40rem;
    margin: 0 auto;

    div.merchant-protocol--request {
        max-width: 40rem;

        .ant-form-item {
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }

    div.merchant-protocol--pay {
        .ant-form-item {
        }
    }
}
