.page-404 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*
Dark = #3f3f3f
Light = #cccccc
Midnight = #23313d
*/

.page-404-logo {
}
.page-404-title {
    font-size: 28px;
    margin: 18px 0;
}
.page-404-subtitle {
    font-size: 16px;
    margin: 18px 0;
}
.page-404-button-back {
}
