.settings-menu {
    > ul {
        > li {
            list-style-type: none;
            cursor: pointer;
            padding: 5px 0;
            &:hover {
                background-color: red;
            }

            &.active {
                color: blue;
            }
        }
    }
}

.settings--notifications {
    input[type="checkbox"] {
        cursor: pointer;
    }
    .settings--notifications--group {
        margin: 15px 10px;
        .settings--notifications--item {
            label {
                text-transform: none;
            }
        }
    }
    > .settings--notifications--group {
        margin-left: 0;
    }
}

.nodes-header {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 6px 10px;
    margin-bottom: 2em;
    font-weight: 500;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color 0.3s ease 0s;
    overflow:hidden;
}

div.api-node {
    position: relative;
    padding: 1em 1em 0.5em 1em;
}
