@media only screen and (max-width: 960px)  {
  .sidemenu-outer {
    display: block;
    position: fixed;
    z-index: 1000;
    height: 3.84rem;
  }

  .sidemenu-outer.active {
    height: 100%;
    max-width: none;
  }

  .sidemenu-outer:not(.active) .sidemenu {
    background: transparent;
  }

}

@media only screen and (min-width: 960px)  {
  .sidemenu-wrapper {
    position: absolute;
    z-index: 1000;
  }

  .block-list li > a.sidemenu-link {
    display: none;
  }

  .sidemenu-outer:hover {
    overflow: visible;
  }
}

.sidemenu-outer {
    flex: 0 0 3rem;
}

.sidemenu-outer:hover .sidemenu-wrapper,
.sidemenu-outer.active {
    box-shadow: .2rem 0 .2rem 0 rgba(0,0,0,0.2);
}

.sidemenu .block-list li > a.sidemenu-link:hover {
  background: transparent;
}

.sidemenu-wrapper {
  height: 100%;

  .sidemenu {
    height: 100%;

    .sidemenu-list {

      > li > a {
        padding-left: 1rem;
        padding-right: 3rem;

        .icon {
          margin-right: 1rem;
        }

        &.dashboard-link:hover {
          background: transparent;
        }
      }
      > li.active > a {
          border-right-width: 3px;
          border-right-style: solid;
      }
    }
  }
}



