textarea#console_input {
    width: 100%;
    color: white;
    background-color: black;
    border-color: black;
    min-height: 35px;
    height: 35px
}

.console_div, code {
    margin-right: 10px;
}
