div.fm-container {
    padding: 0.5rem;
    min-width: 13rem;
   &:hover {
    background-color: #D8D8D8;
    cursor: pointer;
   }

   .fm-title, .fm-volume, .fm-change {
    font-size: 0.85rem;
   }

   .fm-name {
    font-weight: bold;
   }

   .fm-volume {
    padding-top: 8px;
   }

   .fm-change {
    padding-top: 4px;
   }
}

.Dashboard__intro-text {
    padding: 20px;

    > p:nth-of-type(2) {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid grey;
    }
}
