div.fm-outer-container {
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    margin-bottom: 20px;
}

@include breakpoint(large) {
    div.fm-container {
        > div:first-child() {
            padding-right: 15px;
        }

        > div:last-child() {
            padding-right: 15px;
        }
    }
}

div.fm-container {
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    padding: 1rem 0.5rem;
    min-width: 13rem;
   &:hover {
    background-color: #D8D8D8;
    cursor: pointer;
   }

   .fm-title, .fm-volume, .fm-change {
    font-size: 0.85rem;
   }

   .fm-name {
    font-weight: bold;
    padding-bottom: 10px;
   }

   .fm-volume, .fm-change {
    text-transform: lowercase;
    font-variant: small-caps;
    padding-top: 6px;
   }
}

.Dashboard__intro-text {
    padding: 20px;

    > p:nth-of-type(2) {
        padding-bottom: 1.25rem;
        border-bottom: 1px solid $border-color;
    }
}

.SimpleTrade__modal {
    overflow: auto;
    .Modal__header {
        padding: 20px 2rem;
    }
    .Modal__divider {
        margin: 0px;
    }
    .SimpleTrade__hide-zero {
        position: relative;
        top: -3px;
        cursor: pointer;
    }
    .SimpleTrade__withdraw-row {
        padding: 10px 0;
    }
}

.balance-row.active {
    background-color: #3C3C3C;
}

.balance-row:hover {
    background-color: #3C3C3C;
}

.balance-row {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 20px;
}

.balance-row:hover {
    cursor: pointer;
}

.SimpleTrade__help-text {
    font-style: italic;
    padding-top: 5px;
    font-size: 95%;
}

#simple_transfer_modal {
    max-width: 650px;
}

#simple_transfer_modal,
#simple_deposit_modal,
#simple_deposit_modal_ask,
#simple_withdraw_modal,
#simple_bridge_modal {
    padding: 0;
}

#simple_deposit_modal,
#simple_deposit_modal_ask,
#simple_withdraw_modal,
#simple_bridge_modal {
    overflow: auto !important;
    max-width: 500px;
}

#simple_deposit_modal label,
#simple_deposit_modal_ask label,
#simple_withdraw_modal label,
#simple_bridge_modal label {
    text-transform: none !important;
}

#simple_buy_modal,
#simple_sell_modal {
    overflow: auto !important;
    padding: 0;
}

div.input-wrapper {
    > div.input-right-symbol {
        font-size: 0.9rem;
        font-weight: bold;
        position: absolute;
        top: 12px;
        right: 8px;
    }
}

.SimpleDepositBridge__info-row {
    > div {
        padding-bottom: 5px;
        > div.float-right {
            clear: both;
            font-weight: bold;
        }
    }
}
