.header.menu-group {
  justify-content: flex-start;
}

.icon > svg {
  > path {
    fill : #fff;
  }
}

.icon.locked > svg {
  width: 1.15rem;
  height: 1.15rem;

}

.header {
  padding-left: 0 !important;
  padding-right: 1rem;
  min-height: 48px;
  .menu-bar > li {
    display: list-item;
    padding: 0;
    > a {
      color: #fff;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      @include breakpoint(large) {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
      }
      &:hover {
      background: #57BDFD;
      color: #fff;
      } 
    }
  }
}

.grp-menu-items-group {
  flex-flow: row nowrap;
  display: flex;
  justify-content: flex-end;
}

.grp-menu-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  .button:hover {
    background: #57BDFD;
  }
  > a, .button {
    color: #fff !important;
    padding: 0.5rem;
    @include breakpoint(large) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    font-size: 1rem;
    &:hover {
      background: #57BDFD;
      color: #fff;
    }
  }
}

.user-icon > a {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
