.settings-menu {
    > li {
        list-style-type: none;
        cursor: pointer;
        padding: 5px 0;
        &:hover {
                background-color: red;
        }

        &.active {
            color: blue;
        }
    }
}
