div.prediction-markets {
    tr.selected-row {
        a {
            color: white;
        }
    }

    div.header-selector {
        padding: 1rem;
    }

    span.search-input {
        width: 220px;
    }

    div.ant-table-selection {
        display: none;
    }
}
