div.prediction-markets {
    tr.selected-row {
        a {
            color: white;
        }
    }

    div.header-selector {
        padding: 1rem;
    }

    span.search-input {
        width: 220px;
    }

    div.ant-table-selection {
        display: none;
    }

    span.supsub {
        position: absolute;

        .subscript {
            color: red;
            display: block;
            position: relative;
            left: 2px;
            top: 1rem;
        }
        .superscript {
            color: green;
            display: block;
            position: relative;
            left: 2px;
            top: 3px;
        }
    }
}
